JWT_KEY=
JWT_ISSUER=MyTCGBinder
JWT_AUDIENCE=MyTCGBinder
JWT_EXPIRES_MINUTES=60

DB_HOST=db
DB_NAME=mytcgbinder
DB_USER=postgres
DB_PASSWORD=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

APP_BASE_URL=http://localhost:3000
ASPNETCORE_ENVIRONMENT=Development
